$c_pr: $brand-primary;
$c_red: #ef4135;
// sticky footer
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 16px;
  line-height: 1.14;
  font-family: 'PT Sans', arial;
  font-weight: normal;  
}

.main-wrapper {
  display: table;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  vertical-align: top;
  table-layout: fixed;
  position: relative;
  z-index: 1;
}
.main-header,
.main-footer,
main {
  display: table-row;
}
.main-header,
.main-footer {
  height: 1px;
}
// end of sticky footer

.index-page {
  .index-table td {
    padding: 4px 5px;
  }
  .index-table tr:nth-child(even) {
    background: rgb(245,245,245);
  }
  .btn.btn-default {
    margin-bottom: 5px;
  }
}

// h1, h2, h3, h4, h5, h6 {}
// h1 {
//  font-size: rem(48px);
//  @media (max-width: 767px) {font-size: rem(36px);}
// }
// h2{
//  margin-bottom: 30px;
//  font-size: rem(36px);
//  @media (max-width: 767px) {font-size: rem(28px);}
// }
// h3{
//  font-size: rem(30px);
//  @media (max-width: 767px) {font-size: rem(22px);}
// }
a,
button,
label,
input,
.btn {
  @include transition(false, (color, border, background, box-shadow));
  // @include transition(':before', (color, border, background, box-shadow));
  &:focus,
  &:active,
  &:focus:active,
  &.active:focus {
    box-shadow: none;
    outline: none;
  }
}

.btn {
  border-radius: 0 !important;
}

label {
  font-weight: normal;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.svg-wrap {
  display: block;
  svg {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
}

.container {
  padding: 0 23px;
}

a {
  color: #000;
  fill: #000;
  text-decoration: none;
  border-bottom: 1px solid;
  &:hover,
  &:focus,
  &:active {
    color: $c_pr;
    fill: $c_pr;
    text-decoration: none;
  }
}

.link {
  transition: .2s;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $c_pr;
    fill: $c_pr;
    text-decoration: none;
    border-color: transparent;
    border-bottom-color: inherit;
  }
}
.pseudolink {
  display: inline;
  background: none;
  padding: 0;
  border: none;
  transition: .2s;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: inherit;
  color: #858585;
  &:hover,
  &:focus {
    color: $c_pr;
    fill: $c_pr;
    text-decoration: none;
    border-bottom-color: inherit;
  }
}

.pseudolink-red {
  @extend .pseudolink;
  color: $c_red;
  fill: $c_red;
  &:hover:before {
    border-top-color: $c_pr;
  }
}

.pseudolink-more {
  @extend .pseudolink;
  color: $c_red;
  fill: $c_red;
  position: relative;
  margin-right: 25px;
  &:before {
    position: absolute;
    content: '';
    transition: .2s;
    right: -20px;
    top: 4px;
    width: 0;
    height: 0;
    border-width: 11px 6px;
    border-style: solid;
    border-color: $c_red transparent transparent transparent;
  }
  &:hover:before {
    border-top-color: $c_pr;
  }
}

.btn-reset {
  display: inline;
  background: none;
  padding: 0;
  border: none;
  transition: .2s;
  text-decoration: none;
  .svg-wrap {
    transition: .2s;
  }
}

.clearfix:after {
  display: table;
  clear: both;
  content: ' ';
}


select {
  width: 100px;
  height: 26px;
  border-radius: 10px;
  -webkit-appearance: none;
  background-position: right center;
  background-repeat: no-repeat;
  line-height: 1em;
  /* for FF */
     -moz-appearance: none;
  text-indent: .01px;
  text-overflow: '';
  /* for IE */
      -ms-appearance: none;
          appearance: none!important;
}

select::-ms-expand {
  display: none;
}

.btn-tooltip {
  @extend .pseudolink;
  color: $c_red;
  fill: $c_red;
  .svg-wrap {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: baseline;
  }
}

.head-block {
  background-image: url('../img/bg1.jpg');
  background-position: 100% 0;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 153px;
  text-align: center;
  & > * {
    z-index: 2;
    position: relative;
  }
  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    background: rgba(#0f0f0f,.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  &__menu {
    min-height: 60px;
    font-size: 24px;
    width: 100%;
    background: rgba(#191919,.8) ;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style-type: none;
      align-items: center;
      li {
        margin: 0;
        flex-grow: 1;
        transition: .2s;
        &.active {
          background: #040404;
        }
        &:hover {
          background: $c-pr;
        }
        a {
          padding: 16px 10px;
          display: inline-block;
          border: none;
          color: #fff;
          min-height: 60px;
          .quan {
            text-align: center;
            padding-top: 3px;
            font-size: 16px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 14px;
            margin-top: -3px;
            width: 26px;
            height: 26px;
            background: #fff;
            border-radius: 50%;
            color: #535353;
          }
        }
        &:nth-child(3) a {
          white-space: nowrap;
        }
      }
    }
  }
  &__title {
    width: 100%;
    margin: auto;
    padding: 36px 0;
    .title {
      font-family: 'RoadRadio Regular';
      color: #fff;
      font-size: 36px;
      margin: auto;
      line-height: 1;
    }
    .container > *:not(:first-child) {
      margin-top: 15px;
    }
  }
  @media (max-width: $screen-sm - 1px) {
    &__menu {
      ul {
        flex-wrap: wrap;
      }
    }
    &__title {
      .title {
        font-size: 24px;
      }
    }
  }
}

.radio-styled {
  input {
    display: none;
    &:checked + .text {
      &:before {
        border-color: $c_pr;
      }
      &:after {
        background: $c_pr;
        transform: scale(1);
      }
    }
    &:disabled + .text {
      color: #888;
    }
  }
  .text {
    margin-left: 24px;
    position: relative;
    &:before {
      position: absolute;
      content: '';
      top: 2px;
      left: -24px;
      width: 16px;
      height: 16px;
      background: #fff;
      border-radius: 50%;
      border: 1px solid #b9b9b9;
    }
    &:after {
      position: absolute;
      content: '';
      top: 6px;
      left: -20px;
      background: #b9b9b9;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      transition: .2s;
      transform: scale(0);
    }
  }
  &:hover .text:after {
    transform: scale(1);
  }
}

.check-styled {
  font-weight: normal;
  input {
    display: none;
    &:checked + .text {
      &:before {
        opacity: 1;
        border-color: $c_pr;
        background: $c_pr;
        box-shadow: 0 0 0;
      }
      &:after {
        transform: rotate(-50deg);
        opacity: 1;
        border-color: transparent transparent #fff #fff;
      }
    }
    &:disabled + .text {
      color: #888;
    }
  }
  .text {
    margin-left: 28px;
    position: relative;
    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: -28px;
      width: 20px;
      height: 20px;
      background: #fff;
      border: 1px solid #b9b9b9;
      box-shadow: inset 0 2px 2px rgba(#bababa,.25);
      transition: .2s;
    }
    &:after {
      position: absolute;
      content: '';
      opacity: 0;
      top: 3px;
      left: -24px;
      width: 13px;
      height: 8px;
      border-width: 2px;
      border-style: solid;
      border-color: transparent transparent #b9b9b9 #b9b9b9;
      transition: .2s;
      transform: 100% 100%;
      transform: rotate(0deg);
    }
  }
  &:hover .text:after {
    opacity: 1;
    transform: rotate(-50deg);
  }
}

input[type='text'],
input[type='tel'],
input[type='password'],
input[type='email'],
input[type='date'] {
  border: 1px solid #e0e0e0;
  display: inline-block;
  vertical-align: middle;
  box-shadow: inset 0 2px 2px rgba(#b5b5b5,.25);
  height: 35px;
  line-height: 35px;
  padding: 4px 8px;
  &:focus {
    border-color: $c_pr;
  }
  &:disabled {
    background: #fff;
    color: #888;
  }
}

.pass-wrap {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  .btn-pwdswitch {
    @extend .btn-reset;
    width: 17px;
    height: 11px;
    cursor: pointer;
    background-image: url('../svg/eye-close.svg');
    position: absolute;
    right: 10px;
    top: 12px;
    &.open {
      background-image: url('../svg/eye-open.svg');
    }
  }
  input[type='text'],
  input[type='password'] {
    padding-right: 40px;
  }
  &.valid {
    &:before {
      position: absolute;
      content: '';
      right: -33px;
      background: url('../svg/valid.svg') no-repeat;
      width: 23px;
      height: 23px;
      top: 5px;
    }
  }
  &.no-valid {
    input {
      border-color: $c_red;
    }
    &:before {
      position: absolute;
      content: '';
      right: -33px;
      background: url('../svg/no-valid.svg') no-repeat;
      width: 23px;
      height: 23px;
      top: 5px;
    }
  }
}

[class*='dateRangePicker'] {
  font-size: 14px;
  position: relative;
  display: inline-block;
  input {
    width: 100%;
  }
  &:before {
    position: absolute;
    content: '';
    right: 5px;
    background: url('../svg/calendar.svg') no-repeat;
    width: 23px;
    height: 23px;
    top: 7px;
  }
}
.dateRangePicker input {min-width: 220px;}
.dateRangePickerSingle input {min-width: 120px;}


textarea.form-control {
  box-shadow: inset 0 2px 2px rgba(#b5b5b5,.25);
  padding: 4px 8px;
  &:focus {
    box-shadow: none;
    border-color: $c_pr;
  }
}

input[type='date'] {
  &:hover,
  &:focus,
  &:active {
    & + .date-icon {
      opacity: 0;
    }
  }
}

.label-date {
  position: relative;
  &:hover {
    &:before {
      opacity: 0;
    }
  }

  &:before {
    pointer-events: none;
    position: absolute;
    top: 8px;
    right: 10px;
    width: 17px;
    height: 18px;
    content: '';
    background-image: url('../svg/calendar.svg');
  }
}

.textarea-wrap {
  textarea {
    margin-top: 10px;
  }
}

.date-picker-wrapper {
  z-index: 15;
  .select-wrapper:nth-child(2) {
    position: relative;
    overflow: visible;   
    &:after {
      position: absolute; 
      z-index: 99;  
      content: '';
      top: 4px; 
      right: -12px; 
      width: 0; 
      height: 0;  
      border-width: 5px 4px 5px 4px;  
      border-style: solid;  
      border-color: rgb(169, 169, 169) transparent transparent transparent; 

    }
  }
}
