@mixin link{
	&:link, &:visited, &:hover, &:active, &:focus{
		@content;
	}
}

@mixin list-reset(){
	padding: 0;
	margin: 0;
	list-style: none;
}

// standard transition mixin, but with no transition on :active
// how to animate specific multiple properties, example:
// @include transition(false, (border, color), (1s, 4s));
// $internal - internal selector instead of current
@mixin transition($internal, $props: all, $duration: .4s, $type: ease){
	@if $internal == false {
		transition-property: $props;
		transition-duration: $duration;
		transition-timing-function: $type;
		&:active, &.active{ transition: none;}
	} @else if ($internal == ':before' or $internal == ':after'){
		@each $in in $internal{
			&#{$in} {
				transition-property: $props;
				transition-duration: $duration;
				transition-timing-function: $type;
			}
			&:active#{$in}{ transition: none;}
		}
	} @else {
		@each $in in $internal{
			& #{$in} {
				transition-property: $props;
				transition-duration: $duration;
				transition-timing-function: $type;
			}
			&:active #{$in}{ transition: none;}
		}
		
	}
}

// for calculating fontsize in ems
// because ems are based on context, this function has optional
// $base, which defines context if we need to
@function em($px, $base: $font-size-base){
	@return ( $px / $base ) * 1em;
}
@function rem($px, $base: $font-size-base){
	@return ( $px / $base ) * 1rem;
}
@function p($target, $base){
	@return ( $target / $base ) * 100%;
}

@mixin justify(){
	text-align: justify;
	line-height: 0;
	&:after{
		content: '';
		display: inline-block;
		width: 100%;
		vertical-align: top;
		height: 0;
	}
}

@mixin arrow($size: 10px, $dir: 'down', $length: ($size / 2) ){
	content: '';
	position: absolute;
	border: ($size / 2) solid;

	transition: transform .4s;
	transform: rotate(0);

	@if ($dir == 'down' or $dir == 'up') {
		height: $length;
		width: $size;
		border-left-color: transparent;
		border-right-color: transparent;
		@if $dir == 'down' {
			border-bottom-width: 0;
			border-top-width: $length;
		} @else {
			border-bottom-width: $length;
			border-top-width: 0;
		}
	} @else if ( $dir == 'right' or $dir == 'left' ){
		height: $size;
		width: $length;
		border-top-color: transparent;
		border-bottom-color: transparent;
		@if $dir == 'right' {
			border-right-width: 0;
			border-left-width: $length;
		} @else {
			border-right-width: $length;
			border-left-width: 0;
		}
	}
}

@mixin make-items-row($items, $gap, $infinite: false, $between: ''){
	$full-gap: ($items - 1) * $gap;
	$inner-width: 100% - $full-gap;
	$width: $inner-width / $items;

	width: $width;
	margin-right: $gap;
	@if $infinite == false{
		&:nth-of-type(#{$items}n){ 
			margin-right: 0;
			&:after{ display: none;}
		}
	} @else {
		&:last-of-type{ 
			margin-right: 0;
			&:after{ display: none;}
		}
	}

	@if $between != '' {
		position: relative;
		&:after{
			position: absolute;
			content: $between;
			top: 0;
			left: 100%;
			width: ($gap / $width) * 100%;
			text-align: center;
		}
	}
}