.card {
  border: 1px solid #d6d6d6;
  margin: 20px auto;
  max-width: 100%;
  width: 790px;
  padding: 40px 55px 0;
  transition: .4s;
  position: relative;
  background: linear-gradient(to bottom, #fff 0%, #fff 65%, #f4f4f4 100%);
  &:before {
    position: absolute;
    z-index: 1;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    transition: .4s;
    opacity: 0;
  }
  &:hover {
    transition: .2s;
    box-shadow: 0 4px 4px rgba(#000, .25),
    0 0 30px rgba(#000, .2);
    &:before {
      opacity: 1;
      transition: .2s;
    }
  }
  &__title {
    position: relative;
    z-index: 2;
    font-size: 24px;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 35px;
    padding-bottom: 4px;
    vertical-align: bottom;
    font-family: 'RoadRadio Regular';
    .small {
      font-size: 18px;
      vertical-align: bottom;
      position: relative;
      top: 4px;
      font-family: 'PT Sans', arial;
      margin-bottom: 10px;
    }
  }
  .row {
    position: relative;
    z-index: 2;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    &.disabled {
      button {
        pointer-events: none;
        color: #888;
      }
    }
    .elem {
      margin-bottom: 24px;
      &.pad-top-null {
        padding-top: 0 !important;
      }
      &:nth-child(2n-1) {
        text-align: right;
        padding-top: 8px;
      }
      input[type='text'] {
        width: 100%;
        &.input-tel {
          width: 146px;
        }
      }
      .unit {
        display: inline-block;
        vertical-align: middle;
        margin-left: 4px;
      }
      label.radio-styled {
        padding-top: 9px;
        font-weight: normal;
        &:not([class*='radio-inline']),
        &:nth-child(1) {
          padding-left: 0;
          margin-left: 0;
        }
      }
      label.check-styled {
        padding-top: 9px;
        font-weight: normal;
        &:not([class*='check-inline']),
        &:nth-child(1) {
          padding-left: 0;
          margin-left: 0;
        }
      }
      .info {
        font-size: 14px;
        line-height: 1.2;
        margin-top: 8px;
      }
    }
  }
  &.main-requisite,
  &.calc-requisite {
    .row {
      .elem {
        input[type='text'] {
          &.pasp-s {
            width: 56px;
          }
          &.pasp-n {
            margin-left: 6px;
            width: 73px;
          }
        }
      }
    }
  }
  &.calc-deadline {
    .row {
      position: relative;
      .elem {
        input[type='text'].power {
          width: 94px;
        }
        input[type='date'] {
          max-width: 100%;
        }
      }
      .stage {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 24px;
        width: 17%;
        padding-left: 16px;
        padding-top: 8px;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 3px;
          background: #dbdbdb;
        }
      }
    }
    .js-remove-stage {
      position: absolute;
      right: 9px;
      top: 7px;

      &:hover {
        .svg-wrap {
          fill: $c_pr;
        }
      }

      .svg-wrap {
        width: 15px;
        height: 18px;
        fill: $c_red;
      }
    }
  }
  &.calc-requisite {
    .row {
      .elem {
        .sep {
          margin: 0 4px;
        }
        input[type='text'] {
          &.ogrnip {
            width: 157px;
          }
          &.inn {
            width: 128px;
          }
          &.kpp {
            width: 102px;
          }
          &.raschet {
            width: 200px;
          }
          &.koresp {
            width: 200px;
          }
          &.bik {
            width: 128px;
          }
        }
      }
    }
  }
  &.calc-object {
    .row {
      .elem {
        input[type='text'] {
          &.power {
            width: 94px;
          }
          &.dots {
            width: 46px;
          }
        }
        .chosen-container {
          margin-bottom: 10px;
        }
        &.js-date-format-toggle, .dateRangePicker {
          position: relative;
          z-index: 5;
        }
      }
    }
  }
  &.calc- {
    .row {
      .elem {
        // 12
      }
    }
  }
}

.dateRangePicker-dft {
  width: 225px;
}

.calc-controls {
  display: flex;
  margin-top: 80px;
  margin-bottom: 180px;
  justify-content: center;

  div {
    max-width: 385px;
    
      .btn {white-space: normal;height: auto;}
    & + div {
      margin-left: 20px;
    }
    .info {
      margin-top: 10px;
      font-size: 18px;
    }
  }
  @media (max-width: 767px) {
    display: block;
    &> div {
      margin-left: auto !important;
      margin-right: auto !important;
      margin-bottom: 30px;
      .btn {white-space: normal;height: auto;}
    }
  }
}


.js-add-stage {
  margin-bottom: 20px;
  margin-left: 30px;
  position: relative;
    transition: 0s;  
  &:hover {
    .svg-wrap {
      fill: $c_pr;
      stroke: $c_pr;
    }
  }
  .svg-wrap {
    width: 23px;
    height: 23px;
    position: absolute;
    left: -30px;
    top: 0;
    fill: #858585;
    stroke: #858585;
    border-radius: 50%;
    border: 1px solid;
  }
}



// #drop-zone{
//   width: 100%;
//   margin:30px auto;
//   position:relative;
//   text-align:center;
//   background-color:#ecf0f1;
// }

// #drop-zone .text{
//   color:#666;
//   font-family:Verdana, Geneva, sans-serif;
//   vertical-align:middle;
// }

// #drop-zone.success{
//   background-color:#2ecc71;
// }

// #drop-zone.error{
//   background-color:#e74c3c;
// }

// #file{
//   width:100%;
//   height:100%;
//   display:block;
//   position:absolute;
//   top:0;
//   left:0;
//   opacity:0.01;
// }

// #showUpFile{
//   width:500px;
//   margin:0 auto;
// }

// #showUpFile img{
//   max-width:500px;
// }