@font-face {
  font-family: 'RoadRadio Regular';
  src: url('../fonts/Road Radio/RoadRadio.eot');
  src: url('../fonts/Road Radio/RoadRadio.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Road Radio/RoadRadio.woff') format('woff'),
  url('../fonts/Road Radio/RoadRadio.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
  url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSansItalic/PTSansItalic.eot");
  src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"),
  url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSansBold/PTSansBold.eot");
  src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
  url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
