.main-footer {
  .footer-inner {
    border-top: 1px solid #D6D6D6;
    .container {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      padding-top: 16px;
      padding-bottom: 24px;
      @media (max-width: $screen-lg - 1px) {
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 8px;
        &:before, &:after {display: none;}
        &>div {
          margin: 0 20px 16px;
        }

      }
    }
  }
}