.header {
  display: table-row;
  height: 1px;
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__logo {
    float: left;
    &>* {
      display: inline-block;vertical-align: bottom;
    }
    .text {
    font-family: Arial;
    font-size: 12px;
    margin-left: 20px;
    margin-bottom: 8px;
    padding-left: 8px;
    color: #9E9E9E;
    border-left: 1px solid #9E9E9E;
    }
  }

  &__auth {
    float: right;
    padding-top: 41px;

    .user-photo {
      width: 33px;
      height: 33px;
      overflow: hidden;
      text-align: center;
      display: inline-block;
      vertical-align:middle;
      margin-right: 10px; 
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .user {

    }
    .unlogin {
      margin-left: 45px;
    }
  }

  @media (max-width: $screen-sm - 1px) {
    .container {
      padding: 15px 23px;
    }
    &__logo {
      .text {display: none;}
    }
    &__auth {
      padding-top: 15px;
    }
    
  }
}