.modal {
  button.close {
    position: relative;
    opacity: 1;
    z-index: 1;
    width: 12px;
    height: 12px;
    span {
      display: none;
    }
    &:hover {
      &:before,
      &:after {
        background: $c_red;
      }
    }
    &:before,
    &:after {
      transition: .2s;
      content: '';
      position: absolute;
      width: 17px;
      height: 2px;
      background: #000;
      top: 0;
    }
    &:before {
      left: 0;
      transform-origin: 0 50%;
      transform: rotate(45deg);
    }
    &:after {
      right: 0;
      transform-origin: 100% 50%;
      transform: rotate(-45deg);
    }
  }
  .modal-dialog {
    max-width: 100%;
    width: 535px;
    .modal-content {
      padding: 25px;
      padding-bottom: 40px;
      .modal-title {
        font-family: 'RoadRadio Regular';
        font-size: 24px;
        .reg {
          margin-left: 20px;
        }
        border-bottom: 1px solid #d6d6d6;
        padding-bottom: 10px;
      }
      .modal-body {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  &.login {
    .modal-dialog {
      .modal-content {
        .modal-title {
          margin-bottom: 30px;
        }
      }
    }
    .modal-body {
      padding: 0;
    }
    #sign_in {
      position: relative;
      &.error {
        input {
          border-color: $c_red;
        }
        .message-error {
          transform: translateX(0);
          opacity: 1;
        }
      }
      label {
        display: block;
        font-weight: normal;
        margin-bottom: 25px;
        font-size: 0;
        .name {
          width: 110px;
          margin-right: 15px;
          display: inline-block;
          text-align: right;
          font-size: 18px;
          vertical-align: middle;
        }
        input {
          width: 196px;
          font-size: 18px;
          vertical-align: middle;
        }
      }
      .btn-primary {
        margin-left: 125px;
        margin-right: 15px;
      }
      .message-error {
        position: absolute;
        height: 95px;
        width: calc(100% - 125px - 196px - 15px);
        color: #fff;
        font-size: 14px;
        background: $c_red;
        right: 0;
        padding: 25px;
        top: 75px;
        opacity: 0;
        transform: translateX(-30px);
        transition: .6s;
      }
      @media (max-width: $screen-sm - 1px) {
        text-align: center;
        label .name {
          text-align: center;
          margin: 0;
        }
        .btn-primary {
          margin-left: 0;
        }
        .message-error {
          position: static;
          width: 100%;
          height: auto;
          margin-top: 20px;
        }
      }
    }
    #sign_up {
      &.error {
        input {
          border-color: $c_red;
        }
      }
      .radio-inline {
        margin-bottom: 25px;
        &:nth-child(1) {
          padding-left: 0;
        }
      }
      label.input-text {
        display: block;
        font-weight: normal;
        margin-bottom: 25px;
        font-size: 0;
        .name {
          width: 186px;
          margin-right: 15px;
          display: inline-block;
          text-align: right;
          font-size: 18px;
          vertical-align: middle;
        }
        input {
          width: 196px;
          font-size: 18px;
          vertical-align: middle;
        }
      }
      .btn-primary,
      .agreement {
        margin-left: 186px + 15px;
        margin-bottom: 15px;
      }

      @media (max-width: $screen-sm - 1px) {
        text-align: center;
        .radio-inline {
          padding-left: 0;
          margin-left: 0;
          display: block;
        }
        label.input-text {
          .name {
            width: 100%;
            text-align: center;
            margin: 0;
            margin-bottom: 5px;
          }
        }
        .btn-primary,
        .agreement {
          margin-left: 0;
        }
      }
    }
    #new_pass {
      label {
        display: block;
        font-weight: normal;
        margin-bottom: 25px;
        font-size: 0;
        .name {
          width: 110px;
          margin-right: 15px;
          display: inline-block;
          text-align: right;
          font-size: 18px;
          vertical-align: middle;
        }
        input {
          width: 196px;
          font-size: 18px;
          vertical-align: middle;
        }
      }
      .back {
        width: 110px;
        margin-right: 15px;
        display: inline-block;
        text-align: right;
      }
      .success {
        display: none;
      }
      &.new_pass-success {
        form {
          display: none;
        }
        .success {
          display: block;
          .message {
            margin-bottom: 30px;
          }
        }
      }
      @media (max-width: $screen-sm - 1px) {
        text-align: center;
        label.input-text .name,
        .back {
          width: 100%;
          text-align: center;
          margin: 0;
          margin-bottom: 5px;
        }
        .back {
          margin-bottom: 15px;
        }
      }
    }
  }
}
