.order {
  padding-top: 40px;
  &__list {
    .table {
      &__row {
        display: flex;
        flex-wrap: wrap;
        padding: 15px 0;
        font-size: 16px;
        border-bottom: 1px solid #C3C3C3;
        &.table__row-head {
          padding: 10px 0;
          background: #f2f2f2;
          border-bottom: 1px solid #c3c3c3;
          align-items: center;
          font-size: 14px;
        }
        & > * {
          padding-right: 10px;
          &:first-child {
            padding-left: 10px;
          }
        }
        .number {
          width: 9%;
        }
        .object {
          width: 38%;
          position: relative;
          padding-right: 46px;
          .name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          .btn-edit {
            position: absolute;
            right: 15px;
            top: 0;
            .svg-wrap {
              width: 16px;
              height: 16px;
              fill: $c_pr;
            }
            &:hover .svg-wrap {
              fill: $c_red;
            }
            &.disabled {
              cursor: not-allowed;
              .svg-wrap {fill: #9C9C9C !important;}
            }
          }
        }
        .status {
          width: 10%;
        }
        .date1 {
          width: 11%;
          text-align: right;
        }
        .date2 {
          width: 11%;
          text-align: right;
        }
        .power {
          width: 10%;
          text-align: right;
        }
        .class {
          width: 11%;
          text-align: right;
        }
        .docs {
          width: 100%;
          padding-right: 0;
          &.open {
            .js-btn-order-docs {
              border-color: #d6d6d6;
              border-bottom-color: transparent;
              background: #f6f6f6;
            }
          }
          .js-btn-order-docs {
            margin-left: calc(9% - 10px);
            top: 2px;
            border: 1px solid transparent;
            background: none;
            padding: 5px 30px 5px 10px;
            position: relative;
            transition: .5s;
            z-index: 5;
            &:before {
              right: 10px;
              top: 9px;
            }
          }
          .docs__inner {
            width: 100%;
            border: 1px solid #d6d6d6;
            background: #f6f6f6;
            padding: 0 20px;
            font-size: 16px;
          }
          .docs__title {
            font-weight: bold;
            padding: 20px 0 10px;

          }
          .docs__item {
            display: flex;
            .name {
              width: 35%;
              flex-grow: 0;
              flex-shrink: 0;
              padding-top: 4px;
            }
            .details {
              width: 65%;
              flex-grow: 0;
              flex-shrink: 0;
              padding-left: 20px;
              padding-bottom: 11px;
            }
            .details-sample {
              width: 65%;
              flex-grow: 0;
              flex-shrink: 0;
              padding-left: 20px;
              padding-bottom: 11px;
              padding-top: 4px;
            }
            .btn-popover-wrap {
              padding-bottom: 4px;
              position: relative;
              font-size: 14px;
              display: inline-block;
              vertical-align: top;
              button {
                background: #fff;
                border: 1px solid #d6d6d6;
                padding: 6px 10px;
                padding-right: 30px;
                position: relative;
                transition: .2s;
                &:after {
                  position: absolute;
                  top: 8px;
                  right: 10px;
                  content: '';
                  margin-left: 10px;
                  transition: .2s;
                  width: 0;
                  height: 0;
                  border-width: 11px 6px;
                  border-style: solid;
                  border-color: #d6d6d6 transparent transparent transparent;
                }
                &[aria-describedby] {
                  border-right-color: transparent;
                  border-bottom-color: transparent;
                  position: relative;z-index: 1061;
                }
                &:hover {
                  color: $c_red;
                  &:after {
                    border-top-color: $c_red;
                  }
                }
              }
            }
          }
        }
        @media (max-width: $screen-md - 1px) {
          font-size: 15px;
          .number {width: 80px;}
          .object {
            width: calc(47% - 80px)
          }
          .docs {
            .js-btn-order-docs {
              margin-left: 70px;
            }
          }
        }
        @media (max-width: $screen-sm - 1px) {
          margin-left: -23px;
          padding-left: 10px !important;
          margin-right: -23px;
          padding-right: 10px !important;
          font-size: 16px;
          .number {
            width: 100px;
            padding-bottom: 10px;
            padding-left: 0;
            padding-right: 0;
          }
          .object {
            width: 100%;
            padding-bottom: 10px;
            padding-left: 0;
            order: -1;
          }
          .status {
            width: calc(100% - 100px);
            padding-bottom: 10px;
            padding-left: 0;
            padding-right: 0;
            text-align: right;
          }
          .date1, .date2,.power,.class {width: 50%;
            padding-bottom: 10px;
            padding-left: 0;
            padding-right: 0;
          }
          .date1,.power {
            text-align: left;
          }
          .docs {
            .docs__item {
              flex-wrap: wrap;
              .name,.details {
                width: 100%;
                padding-left: 0;
                margin-left: 0;
              }
              .name {
                margin-bottom: 10px;
              }
              .details button {text-align: left;}
              
            }
          }
          
        }
      }
    }
  }
  &__filter {
    color: #fff;
    form {
      padding: 15px 20px 25px;
      background: #414042;
      width: 100%;
      .form__elem {
        width: 100%;
        label {
          width: 100%;
        }
        input {
          width: 100%;
        }
      }
    }
    .input-name {
      margin: 10px 0 7px;
    }
    .chosen-container {
      margin-bottom: 5px;
      .chosen-single {
        width: 100%;
      }
    }
    input[type='text'] {
      color: #000;
    }
    .check-styled {
      margin-top: 15px;
    }
    .date {
      text-align: right;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 7px 0 5px;

      .from,
      .to,
      input[type='date'] {
        display: inline-block;
        vertical-align: middle;
      }
      input[type='date'] {
        width: calc(100% - 25px);
        color: #000;
      }
    }
    @media (min-width: $screen-lg) {
      float: right;
      padding-left: 10px;
    }
    @media (max-width: $screen-lg - 1) {
      margin-bottom: 20px;
      form {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        padding-left: 0px;
        .form__elem {
          width: 25%;
          margin-left: 0 !important;
          padding-left: 20px;
          &:nth-child(5) {
            width: 100%;
          }
          & + .form__elem {
            margin-left: 20px;
          }
        }
      }
    }

    @media (max-width: $screen-md - 1px) {
      form {
        .form__elem {
          width: 50%;
        }
      }
    }
    @media (max-width: $screen-sm - 1px) {
      form {
        margin: 0 -23px;
        width: auto;
        .form__elem {
          width: 100%;
        }
      }
    }
  }
}
